.Welcome{
    background-image: none;
}

/* .background{
    background-image: url("https://tse1.mm.bing.net/th?id=OIP.WXLaHcy0eMevInTEAqZe7AHaDs&pid=Api&P=0&w=308&h=155");
    
} */

#cover{
    height:1000px;
    width: 100%;
    background-image: url('https://png.pngtree.com/back_origin_pic/04/58/58/93667a2057da2636d2a99394c43de0cc.jpg');  
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
 }
.div2{
    background-color: blanchedalmond;
    border-style: inherit;
    
    border-radius: 0.5;
}

.div3{
    background-color: blanchedalmond ;
    border-style: outset;
    
}

.form-control{
    background-color: rgb(223, 158, 17);
    border-radius: 1rem;
}


.mat-card{
    width: 320px;
    height: auto;
    background-image: linear-gradient(rgb(127, 151, 187));
    color:#741111;
    margin-top: 0px; 
    margin-left:50%;
    /* position:absolute; */
    padding: 30px 30px;
    transform: translate(-50%,50%);
    
    box-sizing: border-box;
}

.mat-card p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.navbar {
    
    /* background-color: #0009; */
    /* opacity: 0.7; */
    z-index: 9999;
    border: 0;
     
    line-height: 1.42857143;
    letter-spacing: 4px;
    border-radius: 0; 
   
      float: right;
      font-size: 20px ;
  }
  .nav.navbar-nav.navbar-right {
    color: white;
  }
  nav ul li :hover{
    background-color: rgb(247, 246, 244);
    
  }

  /* .navbar li a, .navbar .navbar-brand {
    color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  } */