.mat-card{
    width: 1000px;
    height: auto;
    background-image: linear-gradient(rgb(127, 151, 187));
    color:#110505;
    /* margin-top: 0px;  */
    margin-left:50%;
    /* position:absolute; */
    padding: 30px 30px;
    transform: translate(-50%,50%);
    box-sizing: border-box;
}

.mat-card p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

#cover{
    height: 753px;
    width: 100%;
     background-image: url('https://live.staticflickr.com/4281/35664440142_5609dfb726_b.jpg');
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
 }

 .navbar {
    
    /* background-color: #0009; */
    /* opacity: 0.7; */
    z-index: 9999;
    border: 0;
     
    line-height: 1.42857143;
    letter-spacing: 4px;
    border-radius: 0; 
   
      float: right;
      font-size: 20px ;
  }
  .nav.navbar-nav.navbar-right {
    color: white;
  }
  nav ul li :hover{
    background-color: rgb(247, 246, 244);
    
  }
  
  /* .navbar li a, .navbar .navbar-brand {
    color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  } */
  