<div class="row">
    <nav class="navbar navbar-dark  ">
      <div class="container">
        <!-- <div class="navbar-header">
      <a>    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRWOI1MKMWgjn8d5g6z0dIIe0vPwBeGiRK6BNMeFDFIVZ0Gppmo"  width="100px"></a>>
        </div> -->
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <button style="background: none ;float: left;margin-left:-1100px;"  (click)=onClick() type="button"  ><span style="color: crimson;"><<=back</span></button>

              <li><a href="http://localhost:3000/"><span style="color: rgb(47, 9, 90);"> ADD SCHEDULE</span></a></li>
            <li><a href="#contact"><span style="color: rgb(47, 9, 90);">LOGOUT</span></a>
              <!-- <button   (click)=onClick() type="button"  >Medical</button> -->
            </li>
          </ul>
        </div>
      </div>
    </nav>

</div>


<img  style="margin-left: 500px;margin-top: 20px;height: 300px;width: 500px;"
src="https://www.primaryleaders.com/images/made/uploads/article/first-aid-response_945_573_80_int_s_c1_c_t.jpg">
<div class="mat-card">
    <h1>What is First aid </h1>
    <p style="color: crimson;font-family: cursive;font-size: x-large;">A first aid kit is a collection of supplies and equipment that is used to give medical treatment. There is a wide variation in the contents of first aid kits based on the knowledge and experience of those putting it together, the differing first aid requirements of the area where it may be used and variations in legislation or regulation in a given area.</p>
</div>

<div class="mat-card" style="margin-top: 200px;">
    <h1>Format</h1>
    <p style="color: crimson;font-family: cursive;font-size: x-large;">First aid kits can be assembled in almost any type of container, and this will depend on whether they are commercially produced or assembled by an individual. Standard kits often come in durable plastic boxes, fabric pouches or in wall mounted cabinets. The type of container will vary depending on the purpose, and they range in size from wallet-sized through to large box.

        It is recommended that all kits are in a clean, waterproof container to keep the contents safe and aseptic.[2] Kits should also be checked regularly and restocked if any items are damaged or are out of date.</p>
</div>
<div class="mat-card" style="margin-top: 600px;">
    <h1>Contents</h1>
    <p style="color: crimson;font-family: cursive;font-size: x-large;">Commercially available first aid kits available via normal retail routes have traditionally been intended for treatment of minor injuries only. Typical contents include adhesive bandages, regular strength pain medication, gauze and low grade disinfectant.

        Specialized first aid kits are available for various regions, vehicles or activities, which may focus on specific risks or concerns related to the activity. For example, first aid kits sold through marine supply stores for use in watercraft may contain seasickness remedies.</p>
</div>

<div class="mat-card" style="margin-top: 1050px;">
    <h1>Common items</h1>
    <p style="color: crimson;font-family: cursive;font-size: x-large;">The common kits used in the school may contain:

            Alcohol or nonalcohol antiseptic wipes,
            Band-Aids,
            Cotton Balls,
            Cotton Swabs,
            Iodine,
            Bandages,
            Hydrogen Peroxide,
            Gauze,
            Saline,
            Dressings,
            Eyewash,
            Antiseptic solution,
            Relispray,
            Ice pack</p>
</div>

<div class="mat-card"  style="margin-top: 1340px;">
    <h1>Are you interested inorgan donation after your death ?... </h1>
    <h2>Your decision may give good life to needies after </h2>
    <h2>Then register yourself here ..... :)</h2>

    <h4><span style="color: black;">Contact </span>:ORBO Centre, AIIMS (For Donation Of Organ) Delhi: 1060</h4>
    <li><a href="https://www.organindia.org/claim-your-donor-card/?gclid=Cj0KCQjw-Mr0BRDyARIsAKEFbefYM7Wlh1hcWk0og4L1HQ2NgnaACGnSmSEU4bVQVmped7TqnA_0LAAaAl2OEALw_wcB"><span style="color: rgb(47, 9, 90);">Register here
    </span></a>
      </li>
</div>
