<div class="container"  id ="cover">

    <div class="row">
        <nav class="navbar navbar-dark  ">
          <div class="container">
            <!-- <div class="navbar-header">
          <a>    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRWOI1MKMWgjn8d5g6z0dIIe0vPwBeGiRK6BNMeFDFIVZ0Gppmo"  width="100px"></a>>
            </div> -->
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav navbar-right">
                <button style="background: none ;float: left;margin-left:-1100px;"  (click)=onClickb() type="button"  ><span style="color: rgb(47, 9, 90);"><<=back</span></button>

                  <li><a href="http://localhost:3000/"><span style="color: rgb(47, 9, 90);"> ADD SCHEDULE</span></a></li>
                <li><a href="#contact"><span style="color: rgb(47, 9, 90);">LOGOUT</span></a>
                  <!-- <button   (click)=onClick() type="button"  >Medical</button> -->
                </li>
              </ul>
            </div>
          </div>
        </nav>
    
    </div>
<div class="mat-card" >
    <img src="https://tse4.mm.bing.net/th?id=OIP.oiiiauNWSPkMZplcfSDlNQAAAA&pid=Api&P=0&w=300&h=300" class="im">

    <form (submit)="validateUser(loginForm)" #loginForm="ngForm">
            
        <button   (click)=onClick() type="submit"  >donate</button>
        <button   (click)=onClicks() type="submit" style="margin-top: 10px;"  > blood availability</button>
        
    </form>
</div>
</div>