
<div class="container">
  <div class="row">
    <nav class="navbar navbar-dark  ">
      <div class="container">
        <!-- <div class="navbar-header">
      <a>    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRWOI1MKMWgjn8d5g6z0dIIe0vPwBeGiRK6BNMeFDFIVZ0Gppmo"  width="100px"></a>>
        </div> -->
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <button style="background: none ;margin-left:-1250px;"  (click)=onClick() type="button"  ><span style="color: rgb(47, 9, 90);"> <<=back</span></button>
              <li><a href="http://localhost:3000/"><span style="color: rgb(47, 9, 90);"> ADD SCHEDULE</span></a></li>
            <li><a href="#contact"><span style="color: rgb(47, 9, 90);">LOGOUT</span></a>
              <!-- <button   (click)=onClick() type="button"  >Medical</button> -->
            </li>
          </ul>
        </div>
      </div>
    </nav>

</div>
    <div class="mat-card" >
        <h1>Some health tips</h1>
        <h4>Base your diet on plenty of foods rich in carbohydrates</h4>
        <h4>Replace saturated with unsaturated fat</h4>
        <h4>Enjoy plenty of fruits and vegetables</h4>
        <h4>Reduce salt and sugar intake</h4>
        <h4>Eat regularly, control the portion size</h4>
        <h4>Drink plenty of fluids</h4>
        <h4>Maintain a healthy body weight</h4>
        <h4>Get on the move, make it a habit!</h4>
        <h4>Start now! And keep changing gradually.</h4>
    </div>


    <div class="mat-card" style="height: 200px;" >
        <h1>for some more tips refer below</h1>
        <li><a href="https://www.youtube.com/watch?v=DWlfYOpgFSM"><span style="color: rgb(47, 9, 90);">Health Tips | 10 Health Hacks - YouTube
        </span></a>
            
          </li>

          <li><a href=" https://www.youtube.com › watch"><span style="color: rgb(47, 9, 90);">Top 5 Heart Health Tips - YouTube
        </span></a>
          </li>
          <li><a href="https://www.youtube.com › watch"><span style="color: rgb(47, 9, 90);">Tips for good health | Health Care tips - YouTube
        </span></a>
          </li>
    </div>
</div>