<div  id="cover"  class="container-fluid bg">  
    <form class="form-container">
        <div class="row">                                               
             
            <div class="mat-card" >
                 <img src="https://tse4.mm.bing.net/th?id=OIP.E0O7MAbI2NLIxz6ddmmsxAHaHa&pid=Api&P=0&w=300&h=300" class="im">
                 <h1 style="color:rgb(206, 24, 24);font-family:'Times New Roman', Times, serif;">Sign Up</h1>
                 <form class="form1" (submit)="Signup(registerform)" #registerform="ngForm">
               <div class="col-lg-6">
                     <div class="form-group">

                            <label for="name"> Name</label>
                            <input type="text" class="form-control" placeholder="name " ngModel name="name" id="name" #name="ngModel">
                     </div>
                     <div class="form-group">

                        <label for="name1"> Specialisation</label>
                        <input type="text" class="form-control" placeholder="Specialisation " ngModel name="Specialisation" id="Specialisation" #Specialisation="ngModel">
                     </div>

                     <textarea name="addr" id="addr" ngModel required #addr="ngModel">
                        Hospital/Clinic address
                     </textarea>

                     <div class="form-group">
                        <label for="ExampleInputEmail">Email address</label>
                        <input type="email" class="form-control" placeholder="Email" ngModel name="Email" id="Email" #Email="ngModel">
                     </div>

                     <div class="form-group">
                        <label for="ExampleInputEmail">Phone num</label>
                        <input type="email" class="form-control" placeholder="mnum" ngModel name="mnum" id="mnum" #mnum="ngModel">
                     </div>

                     <div class="form-group">
                        <label for="ExampleInputPassword">Password</label>
                        <input type="password" class="form-control" placeholder="Password " ngModel name="password" id="password" #password="ngModel">
                      </div>   
                      <button type="submit" class="btn btn-success btn-block">SIGN UP</button>
                    </div>
                     
                        
                     
                    
                    </form>
                    
                </div>
