<div class="row">
    <nav class="navbar navbar-dark  ">
      <div class="container">
        <!-- <div class="navbar-header">
      <a>    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRWOI1MKMWgjn8d5g6z0dIIe0vPwBeGiRK6BNMeFDFIVZ0Gppmo"  width="100px"></a>>
        </div> -->
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <button style="background: none ;float: left;margin-left:-1100px;"  (click)=onClick() type="button"  ><span style="color: rgb(47, 9, 90);"> <<=back</span></button>

              <li><a href="http://localhost:3000/"><span style="color: rgb(47, 9, 90);"> ADD SCHEDULE</span></a></li>
            <li><a href="#contact"><span style="color: rgb(47, 9, 90);">LOGOUT</span></a>
              <!-- <button   (click)=onClick() type="button"  >Medical</button> -->
            </li>
          </ul>
        </div>
      </div>
    </nav>

</div>
<div class="mat-card" style="height: 200px;margin-top: 20px;" >
    <h1>for some more tips refer below</h1>
    <li><a href="https://www.cdc.gov/disasters/alldisasters.html"><span style="color: rgb(47, 9, 90);">disaters guide
    </span></a>
        
      </li>

      <li><a href="https://indianhelpline.com/"><span style="color: rgb(47, 9, 90);">Indian helpline number
    </span></a>
      </li>
</div>
<div class="mat-card">
    <h1>Four most important emergency numbers:</h1>
    <h4>NATIONAL EMERGENCY NUMBER-112</h4>
    <h4>POLICE-100</h4>
    <h4>FIRE-101</h4>
    <h4>AMBULANCE-102</h4>
</div>
<div class="mat-card">
    <h1>other list of emergency numbers:</h1> 

    <h4>Disaster Management Services-108</h4>
    <h4>Women Helpline-1091</h4>
    <h4>Women Helpline - Domestic Abuse-181</h4>
    <h4>Air Ambulance-9540161344</h4>
    <h4>Disaster Management N.D.M.A 011-26701728-1078</h4>
    <h4>EARTHQUAKE / FLOOD / DISASTER N.D.R.F: 011-24363260</h4>
    
    <h4>Relief Commissioner For Natural Calamities: 1070</h4>
    <h4>LPG Leak Helpline: 1906</h4>
</div>

