h1 {
    
    margin:0;
    padding: 0 0 20px;
    text-align: center;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px rgb(0, 100, 139);
  }

button {
   border:none;
   outline:none;
   height:40px;
   background:rgb(206, 24, 24);
   color:#fff;
   font-size:18px;
   border-radius: 20px;
   width: 150px;
   margin-left: 75px;
   text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px rgb(2, 73, 100);

}
button:hover{
    cursor:pointer;
    background:#443eb1;
    color:rgb(143, 34, 34);
}
.mat-card{
    width: 400px;
    height: 450px;
    background-image: linear-gradient(rgb(127, 151, 187));
    color:#741111;
    margin-left:50%;
    position:absolute;
    padding: 70px 30px;
    transform: translate(-50%,10%);
    
    box-sizing: border-box;
}
.im{
    width:100px;
    height:100px;
    border-radius:50%;
    position:absolute;
    top:-50px;
    left:calc(50%,-50px);
    margin-left: 120px;
}
.mat-card p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.mat-card input{
    width:100%;
    margin-bottom:20px;
}
.mat-card input {
   border: none;
  border-bottom: 1px solid #fff;
  background:transparent;
  outline:none;
  height :40px;
  color:rgb(8, 7, 7);
  font-size:16px;
}
.mat-card a{
    text-decoration: none;
    font-size: 12px;
    line-height:20px;
    color:rgb(78, 7, 7);
}


 .column {
    float: left;
    width: 50%;
  }
  

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  #cover{
    height: 753px;
    width: 100%;
     background-image: url('https://image.freepik.com/free-photo/stethoscope-with-pulse-outline-tube_23-2148264156.jpg');
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
 }
 .mat-card{
    margin-top: 100px;opacity: 1;
  }
  .mat-card{
  box-shadow: -10px 19px 100px -12px rgba(0,0,0,1.99);   
  }
 
 
  
  
 